<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Property Search App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Buy Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent Property</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property" >List Property (Free)</a>
        </li>
      </ul>
     <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!onlogin()" class="nav-item">
          <a class="nav-link" routerLink="user/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="!onlogin()"  class="nav-item">
          <a class="nav-link" routerLink="user/login" routerLinkActive="active">Login</a>
        </li>
        <!-- <li *ngIf="onlogin()"  class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li> -->
        <div *ngIf="onlogin()" class="dropdown mr-5" dropdown>
          <a href="#" dropdownToggle   class="dropdown-toggle text-dark">
            Welcome {{loggedUser}}
          </a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt"></i> View Dashboard</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> My Profile</a>
            <a class="dropdown-item" href="#"><i class="fas fa-key"></i> Change Password</a>
            <a class="dropdown-item" href="#" (click)="onLogout()"> <i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </div>
      </ul>
     </div>
    </div>
  </div>
</nav>
