
<div class="card">
  <div class="card-header">
    List your Property
  </div>
  <div class="card-body">
    <form (ngSubmit)='onSubmit()' #Form="ngForm">
    <tabset #Formtabs>
      <tab heading="Basic Info" >
    <div class=" form-group col-sm-12">
      <input type="radio" name="SellRent">
      <label class="m-2">Sell</label>

      <input type="radio" name="SellRent">
      <label class="m-2">Rent</label>
    </div>
          <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" #prName="ngModel" minlength="5" ngModel name="pName" required>

            <span *ngIf="!prName.valid && prName.touched" class="error-block" >
              <span *ngIf="prName.errors?.['required']">Please Enter Name of Property..</span>
              <span *ngIf="prName.errors?.['minlength']">Property Name length should be at least 5 char..</span>
              </span>

          </div>
          <br>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" ngModel name="pType">
          </div>
          <br>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" ngModel name="pPrice">
          </div>
          <br><br>

            <div class="position-relative">

              <div class="position-absolute top-0 end-0">
                <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Next</button>
              </div>
            </div>



          <!-- <div class="form-group">
           <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button> &nbsp;
           <button type="reset" class="btn btn-warning">Cancel</button>
          </div> -->
        </div>

        </tab>
      <tab heading="Pricing and Area">
        <div class="form-group col-12">
          <label>Price (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Security (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Maintenance (in USD)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Built Area (in Sqr Feet)</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Carpet Area(in Sqr Feet)</label>
          <input type="text" class="form-control">
        </div>

        <br>
        <div class="position-relative">
          <div class="position-absolute top-50 start-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0)">Previous</button>
          </div>
          <div class="position-absolute top-0 end-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Next</button>
          </div>
        </div>
      </tab>
      <tab heading="Address">
        <div class="form-group col-12">
          <label>Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Total Floor</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Address</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Landmark</label>
          <input type="text" class="form-control">
        </div>
        <br>
        <div class="position-relative">
          <div class="position-absolute top-50 start-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Previous</button>
          </div>
          <div class="position-absolute top-0 end-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3)">Next</button>
          </div>
        </div>
      </tab>
      <tab heading="Other Details">
        <div class="form-group col-12">
          <label>Ready to Move</label><br/>
          <input type="radio" id='Yes' value='1' name="RTM">
          <label class="m-2">Yes</label>

          <input type="radio" id="No" value='2' name="RTM">
          <label class="m-2">No</label>
        </div>

        <div class="form-group col-3">
          <label>Possession/Avaialble From</label>
          <input type="date" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Age of Property</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Gated Community</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Main Entrance</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group col-12">
          <label>Description</label>
          <textarea type="text" class="form-control" rows="6"></textarea>
        </div>
        <br>
        <div class="position-relative">
          <div class="position-absolute top-50 start-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Previous</button>
          </div>
          <div class="position-absolute top-0 end-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4)">Next</button>
          </div>
        </div>
      </tab>
      <tab heading="Photos">
        <div class="form-group col-12">
          <div class="photo-control">
              <button class="mt-5" type="button">Upload</button> <br>
              This is under construction
          </div>
        </div>
        <div class="position-relative">
          <div class="position-absolute top-50 start-0">
            <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0)">Previous</button>
          </div>
          <div class="position-absolute top-0 end-0">
            <div class="form-group">
              <button [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button> &nbsp;
              <button type="reset" class="btn btn-warning">Cancel</button>
             </div>
          </div>
        </div>
        <br>

      </tab>
    </tabset>
  </form>
  </div>
</div>






